<div class="col-md-12 p-0 py-4 m-0">
    <form>
        <div class="col-md-10 p-0 m-0">
            <div class="col-md-12 p-0 m-0 input-group">
                <input type="text" class="form-control" placeholder="Take a note..." />
                <div class="input-group-append">
                    <span class="input-group-text">#</span>
                </div>
                <div class="input-group-append">
                    <span class="input-group-text">$</span>
                </div>
            </div>
        </div>
    </form>
</div>