<div class="modal-header">
    <h5 class="modal-title">Note</h5>
    <button type="button" class="close" (click)="activeModel.dismiss('dismiss')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="newNotePad">
        <div class="col-md-12 p-0 m-0">
            <div class="col-md-12 m-0 p-0">
                <div class="m-3 p-0">
                    <div class="form-group">
                        <app-note-chip [labelList]="labelList"></app-note-chip>
                    </div>
                </div>
                <div class="m-3 p-0">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Interesting Heading..."
                            formControlName="heading">
                        <div class="form-error p-1" 
                            *ngIf="(newNotePad.controls.heading.pristine === false || isSubmited === true) && 
                                newNotePad.controls.heading.errors !== null &&
                                newNotePad.controls.heading.errors.required === true">
                            Please select valid value for heading.
                        </div>
                    </div>
                </div>
                <div class="m-3 p-0">
                    <div class="form-group">
                        <textarea class="form-control" rows="8" placeholder="Start typing away..."
                            formControlName="note"></textarea>
                    </div>                
                </div>
                <div class="m-3 p-0">
                    <div class="form-group">
                        <div class="form-error p-1" 
                            *ngIf="failedToSave === true">
                            Failed to save to Notepad.
                            Please contact Keep Support.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-dark" (click)="close()">Save</button>
</div>