<div class="col-md-12 p-0 m-0">
    <div class="col-md-12 p-0 m-0">
        <div class="col-md-12 p-0 m-0">
            <h5 class="py-2">Signed out</h5>
        </div>

        <div class="col-md-12 p-0 m-0">
            <div class="col-md-8 p-0 m-0">
                <h6 class="py-2">You are now signed out.</h6>
                <p>You can sign in again by going to <a href="#">login page</a></p>
                <p>The page will be automatically redirected to login page after 15 sec.</p>
            </div>
        </div>
    </div>
</div>