<div *ngIf="isGridView; then GridView; else ListView"></div>

<ng-template #GridView>
    <div class="col-md-12 p-0 m-0">
        <div class="row col-md-12 p-0 m-0">
            <div class="col-md-3 p-0 m-0" *ngFor="let note of notes">
                <div class="col-md-12 p-0 m-0" *ngIf="note.type === 'Note'">
                    <app-listing-note  [note]="note"></app-listing-note>
                </div>
                <div class="col-md-12 p-0 m-0" *ngIf="note.type === 'CheckList'">
                    <app-listing-check-list></app-listing-check-list>
                </div>
                <div class="col-md-12 p-0 m-0" *ngIf="note.type === 'Reminder'">
                    <app-listing-reminder></app-listing-reminder>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #ListView>
    <div class="col-md-12 p-0 m-0">
        <div class="row col-md-12 p-0 m-0">
            <div *ngFor="let note of notes">
                <div *ngIf="note.type === 'Note'" class="col-md-12 p-0 m-0">
                    <app-listing-note></app-listing-note>
                </div>
                <div *ngIf="note.type === 'CheckList'" class="col-md-12 p-0 m-0">
                    <app-listing-check-list></app-listing-check-list>
                </div>
                <div *ngIf="note.type === 'Reminder'" class="col-md-12 p-0 m-0">
                    <app-listing-reminder></app-listing-reminder>
                </div>    
            </div>
        </div>
    </div>
</ng-template>