<div class="height-100 background">
    <div class="row col-md-12 p-0 m-0">
        <div class="col-md-3 p-0 m-0">
            This is place holder for logo
        </div>
        <div class="col-md-8 p-0 m-0">
            <app-search></app-search>
        </div>
        <div class="col-md-1 p-0 m-0">
            <app-profile></app-profile>
        </div>
    </div>
    <div class="row col-md-12 p-0 m-0">
        <div class="col-md-3 p-0 m-0">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-9 p-0 m-0">
            <div class="row col-md-12">
                <div class="col-md-4 p-0 m-0">
                    <app-application></app-application>
                </div>
                <div class="col-md-4 p-0 m-0">
                    <app-application></app-application>
                </div>
                <div class="col-md-4 p-0 m-0">
                    <app-application></app-application>
                </div>
            </div>
        </div>
    </div>
</div>
