<div class="height-100 background px-1 py-1 m-0">
    <div class="row col-md-12 p-0 m-0">
        <div class="col-md-2 p-0 m-0">
            <img src="../../../../../assets/img/logo/logo.png" id="logo">
        </div>
        <div class="col-md-8 p-0 m-0">
            <app-search></app-search>
        </div>
        <div class="col-md-2 p-0 m-0">
            <app-profile></app-profile>
        </div>
    </div>
    <div class="row col-md-12 p-0 m-0">
        <div class="col-md-2 p-0 m-0">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-10 p-0 m-0">
            <div class="row col-md-12 p-0 m-0">
                <div class="col-md-4 p-0 m-0">
                    <app-application></app-application>
                </div>
                <div class="col-md-4 p-0 m-0">
                    <app-application></app-application>
                </div>
                <div class="col-md-4 p-0 m-0">
                    <app-application></app-application>
                </div>
            </div>
        </div>
    </div>
</div>
