<div class="height-100 px-1 py-1 m-0">
    <div class="row col-md-12 p-0 m-0 height-10">
        <div class="col-md-2 p-0 m-0">
            <img src="../../../../../assets/img/logo/logo.png" id="logo">
        </div>
        <div class="col-md-10 p-0 m-0">
            <app-search></app-search>
        </div>
    </div>

    <div class="row col-md-12 p-0 m-0">&nbsp;</div>
    
    <div class="row col-md-12 p-0 m-0">
        <div class="col-md-2 p-0 m-0">
            <app-sidebar [contentType]="contentType" (menuChange)="changeContent($event)"></app-sidebar>
        </div>
        <div class="col-md-10 p-0 m-0">
            <app-main [contentType]="contentType"></app-main>
        </div>
    </div>
</div>
