<div class="modal-header">
        <h5 class="modal-title">Label</h5>
        <button type="button" class="close" (click)="activeModel.dismiss('dismiss')">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="col-md-12 p-0 m-0">
            <div [formGroup]="newLabelForm">
                <div class="col-md-12 m-0 p-0">
                    <div class="m-3 p-0">
                        <div class="form-group">
                            <input type="text" class="form-control" 
                                formControlName="name"
                                placeholder="Work, home, personal...">
                            <div class="form-error p-1" 
                                *ngIf="(newLabelForm.controls.name.pristine === false || isSubmited === true) && 
                                newLabelForm.controls.name.errors !== null &&
                                newLabelForm.controls.name.errors.required === true">
                                Please select valid value for label.
                            </div>

                            <div class="form-error p-1" 
                                *ngIf="(newLabelForm.controls.name.pristine === false || isSubmited === true) && 
                                newLabelForm.controls.name.errors !== null &&
                                newLabelForm.controls.name.errors.labelExist === true">
                                You have already created label with the same name.
                            </div>
                            
                        </div>
                    </div>
                    <div class="m-3 p-0">
                        <div class="form-group">
                            <div class="form-error p-1" 
                                *ngIf="isSaveFailed === true">
                                Failed to save to label.
                                Please contact Keep Support.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-dark" (click)="save()">Save</button>
    </div>