<div class="modal-header">
    <h5 class="modal-title">Reminder</h5>
    <button type="button" class="close" (click)="activeModel.dismiss('dismiss')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="newReminderForm">
        <div class="col-md-12 p-0 m-0">
            <div class="col-md-12 m-0 p-0">
                <div class="m-3 p-0">
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="heading"
                            placeholder="Thing which you have to do...">
                        <div class="form-error p-1" 
                            *ngIf="(newReminderForm.controls.heading.pristine === false || isSubmited === true) && 
                                newReminderForm.controls.heading.errors !== null &&
                                newReminderForm.controls.heading.errors.required === true">
                            Heading is required to create reminder.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 m-0 p-0">
            <div class="m-3 p-0">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" placeholder="YYYY-MM-DD" 
                            formControlName="date"
                            name="date" ngbDatepicker #date="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" 
                                (click)="date.toggle()" type="button">
                                    <fa-icon [icon]="calenderIcon"></fa-icon>
                            </button>
                        </div>
                    </div>
                    <div class="form-error p-1" 
                            *ngIf="(newReminderForm.controls.date.pristine === false || isSubmited === true) && 
                                newReminderForm.controls.date.errors !== null &&
                                ( newReminderForm.controls.date.errors.required === true ||
                                    newReminderForm.controls.date.errors.year === true ||
                                    newReminderForm.controls.date.errors.month === true ||
                                    newReminderForm.controls.date.errors.day === true ||
                                    newReminderForm.controls.date.errors.date === true
                                )">
                        Date is required to create reminder.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 m-0 p-0">
            <div class="m-3 p-0">
                <div class="form-group">
                    <div class="input-group">
                        <ngb-timepicker formControlName="time"
                            [meridian]="true" [spinners]="false" [seconds]="true">
                        </ngb-timepicker>
                    </div>
                    <div class="form-error p-1" 
                            *ngIf="(newReminderForm.controls.time.pristine === false || isSubmited === true) && 
                                newReminderForm.controls.time.errors !== null &&
                                ( newReminderForm.controls.time.errors.required === true ||
                                    newReminderForm.controls.time.errors.hour === true ||
                                    newReminderForm.controls.time.errors.minute === true ||
                                    newReminderForm.controls.time.errors.second === true ||
                                    newReminderForm.controls.time.errors.time === true
                                )">
                        Time is required to create reminder.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 m-0 p-0">
            <div class="m-3 p-0">
                <div class="form-group">
                    <div class="form-group">
                        <select class="form-control" formControlName="repeat">
                            <option selected>Does not repeat</option>
                        </select>
                        <div class="form-error p-1" 
                            *ngIf="(newReminderForm.controls.repeat.pristine === false || isSubmited === true) && 
                                newReminderForm.controls.repeat.errors !== null &&
                                newReminderForm.controls.repeat.errors.required === true">
                            Please select valid value for repeating reminder.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-dark" (click)="close()">Save</button>
</div>