<div class="background-light">
    <div class="row col-md-12 p-0 m-0">
        <div class="col-md-3 p-0 m-0">&nbsp;</div>
        <div class="col-md-6 p-0 m-0 height-100">
            <div class="col-md-12 py-2 my-2">&nbsp;</div>
            <div class="col-md-12 p-0 m-0">
                <div class="row">
                    <div class="col-md-3 p-0 m-0">&nbsp;</div>
                    <div class="col-md-6 p-0 m-0">
                        <h2 class="text-center p-3 m-2">Registration</h2>
                        <form [formGroup]="registrationForm" novalidate (ngSubmit)="submit()">
                            <div class="form-group">
                                <input type="input" class="form-control" placeholder="Full Name"
                                    formControlName="name">
                                <div class="form-error p-1" 
                                    *ngIf="(registrationForm.controls.name.pristine === false || isSubmited === true) && 
                                        registrationForm.controls.name.errors != null &&
                                        registrationForm.controls.name.errors.required === true">
                                    Name is required to create Keep profile
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="input" class="form-control" placeholder="Email Address"
                                    formControlName="email">
                                <div class="form-error p-1" 
                                    *ngIf="(registrationForm.controls.email.pristine === false || isSubmited === true) && 
                                        registrationForm.controls.email.errors != null &&
                                        registrationForm.controls.email.errors.required === true">
                                    Email Address is required to create Keep profile
                                </div>
                                <div class="form-error p-1" 
                                    *ngIf="(registrationForm.controls.email.pristine === false || isSubmited === true) && 
                                        registrationForm.controls.email.errors != null &&
                                        registrationForm.controls.email.errors.email === true">
                                    Please provide valid email address
                                </div>
                                <div class="form-error p-1" 
                                    *ngIf="(registrationForm.controls.email.pristine === false || isSubmited === true) && 
                                        registrationForm.controls.email.errors != null &&
                                        registrationForm.controls.email.errors.emailExist === true">
                                    Email address is already associated with Keep profile
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password"
                                    formControlName="password">
                                <div class="form-error p-1" 
                                    *ngIf="(registrationForm.controls.password.pristine === false || isSubmited === true) && 
                                        registrationForm.controls.password.errors != null &&
                                        registrationForm.controls.password.errors.required === true">
                                    Please provide password to create Keep profile
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Repeat password"
                                    formControlName="confirmPassword">
                                <div class="form-error p-1" 
                                    *ngIf="(registrationForm.controls.confirmPassword.pristine === false || isSubmited === true) && 
                                        registrationForm.controls.confirmPassword.errors != null &&
                                        registrationForm.controls.confirmPassword.errors.required === true">
                                    Please provide password confirmation to create Keep profile
                                </div>
                                <div class="form-error p-1" 
                                    *ngIf="(registrationForm.pristine === false || isSubmited === true) && 
                                        registrationForm.errors != null &&
                                        registrationForm.errors.missMatchPass === true">
                                    Password and confirm password does not matches
                                </div>
                            </div>
                            <div class="form-check mb-2">
                                <input type="checkbox" class="form-check-input" formControlName="acceptConditions">
                                <label class="form-check-label">
                                    I accept the 
                                    <a href="#" class="link"><u>Terms of Service</u></a>
                                </label>
                                <div class="form-error p-1" 
                                    *ngIf="(registrationForm.controls.acceptConditions.pristine === false || isSubmited === true) && 
                                        registrationForm.controls.acceptConditions.errors != null &&
                                        registrationForm.controls.acceptConditions.errors.valid === false">
                                    Please accept Terms of Service
                                </div>
                            </div>
                            <div class="form-group" *ngIf="showCustomError === true">                                
                                <div class="form-error p-1">
                                    Communication with server failed.
                                    Please contact Keep Support
                                </div>
                            </div>
                            <div class="form-group" *ngIf="showRedirectMessage === true">                                
                                <div class="form-success p-1">
                                    Keep profile created successfully.
                                    You will be automatically redirect to login page.
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit"  class="btn btn-primary btn-block">Create Account</button>
                            </div>
                            <div class="form-group text-center ">
                                <label >
                                    Already have account ?
                                    <a routerLink="/" class="link">
                                        <u>
                                            Sign-In
                                        </u>
                                    </a>
                                </label>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-3 p-0 m-0">&nbsp;</div>
                </div>
            </div>
            <div class="col-md-12 p-0 m-0">&nbsp;</div>
        </div>
        <div class="col-md-3 p-0 m-0">&nbsp;</div>
    </div>
</div>
