.height-5{
    min-height: 5vh;
}

.height-10{
    min-height: 10vh;
}

.height-25{
    min-height: 25vh
}

.height-50{
    min-height: 50vh
}

.height-75{
    min-height: 75vh
}

.height-100{
    min-height: 100vh
}

.height-150-px{
    max-height: 150px;
}