.background-light{
    background-color:#3598dc;
}

.background-darkgray{
    background-color: darkgray;
}

.background-transparent{
    background-color: transparent;
}

.selected-option {
    font-weight: bold;
    background-color: darkgray;
}

.non-selected-option :hover {
    background-color: lightgray;
}