<div class="col-md-12 p-0 m-0">
    <div class="row col-md-12 p-0 m-0">
        <h5 class="col-md-12 p-0 py-2 m-0">
            <fa-icon [icon]="homeIcon"></fa-icon>
            Home
        </h5>
    </div>
    <div class="row col-md-12 p-0 m-0">
        <h5 class="col-md-12 p-0 py-2 m-0">
            <fa-icon [icon]="activityIcon"></fa-icon>
            Activity
        </h5>
    </div>
    <div class="row col-md-12 p-0 m-0">
        <h5 class="col-md-12 p-0 py-2 m-0">
            <fa-icon [icon]="settingIcon"></fa-icon>
            Setting
        </h5>
    </div>
    <div class="row col-md-12 p-0 m-0">
        <h5 class="col-md-12 p-0 py-2 m-0">
            <fa-icon [icon]="activityLogIcon"></fa-icon>
            Activity log
        </h5>
    </div>
    <div class="row col-md-12 p-0 m-0">
        <h5 class="col-md-12 p-0 py-2 m-0">
            <fa-icon [icon]="supportIcon"></fa-icon>
            Support
        </h5>
    </div>
    <div class="row col-md-12 p-0 m-0">
        <h5 class="col-md-12 p-0 py-2 m-0">
            <fa-icon [icon]="logoutIcon"></fa-icon>
            Logout
        </h5>
    </div>
</div>