<div class="col-md-12 p-0 m-0 pl-3">
    <div class="col-md-12 p-0 m-0">
        &nbsp;
    </div>
    <div class="col-md-12 p-0 m-0">
        <div class="col-md-12 p-0 m-0">
            <div class="form-group">
                <h6>Move down completed items ?</h6>
            </div>
            <div class="form-check form-check-inline">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="moveCheckbox" value="option1">
                    <label class="form-check-label">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="moveCheckbox" value="option2">
                    <label class="form-check-label">No</label>
                </div>
            </div>
        </div>

        <br>

        <div class="col-md-12 p-0 m-0">
            <div class="form-group">
                <h6>Send email on reaching reminder time ?</h6>
            </div>
            <div class="form-check form-check-inline">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="moveCheckbox" value="option1">
                    <label class="form-check-label">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="moveCheckbox" value="option2">
                    <label class="form-check-label">No</label>
                </div>
            </div>
        </div>

        <br>

        <div class="col-md-12 p-0 m-0">
            <div class="form-group">
                <h6>How many days we should keep document in trash ?</h6>
            </div>
            <div class="col-md-4 p-0 m-0">
                <div class="form-group">
                    <select class="form-control">
                        <option disabled>Select option</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>