<div class="row col-md-12 p-0 m-0">
    <div class="col-md-6 p-0 pr-2 m-0">
        <div class="row col-md-12 p-0 py-1 m-0">
            <h6 class="col-md-6 p-0 m-0 font-weight-bold">
                <span class="badge badge-secondary">
                    Notification Type
                </span>
            </h6>
            <h6 class="col-md-6 p-0 m-0 text-right">
                <fa-icon [icon]="clockIcon"></fa-icon>
                24 Nov 2019 at 9:30 AM
            </h6>
        </div>
        <div class="row col-md-12 p-0 py-1 m-0">
            <h5 class="col-md-12 p-0 m-0 font-weight-bold">
                The standard Lorem Ipsum passage, used since the 1500s
            </h5>            
        </div>
        <div class="row col-md-12 p-0 py-1 m-0">
            <p class="col-md-12 p-0 m-0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            </p>            
        </div>
    </div>
</div>