<div class="col-md-12 p-0 m-0 ">
    <div class="col-md-12 p-1 m-0">
        <div class="col-md-12 p-0 m-0 border border-secondary rounded high-light-element">
            <div class="col-md-12 p-1 m-0">
                <div class="col-md-12 p-0 m-0 border border-secondary rounded">
                    <div class="col-md-12 p-0 m-0">
                        <img src="../../../../../assets/img/logo/applogo.png" class="app-logo">
                    </div>
                    <div class="col-md-12 p-0 m-0">
                        <h6 class="text-center">App1</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>