<div class="col-md-12 p-0 m-0 ">
    <div class="col-md-12 p-1 m-0">
        <div class="col-md-12 p-0 m-0 border border-secondary rounded high-light-element">
            <div class="col-md-12 p-1 m-0">
                <div class="col-md-12 p-0 m-0 border border-secondary rounded" [routerLink]="[properties.url]">
                    <div class="col-md-12 p-0 m-0">
                        <img src="{{properties.img}}" class="app-logo">
                    </div>
                    <div class="col-md-12 p-0 m-0">
                        <h6 class="text-center">{{properties.name}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>