<div class="row col-md-12 p-0 m-0">
    <div class="col-md-4 p-1 m-0">
        <div class="col-md-12 p-0 m-0">
            <a href="#">
                <img class="support-logo" src="../../../../../assets/img/support/document.png">
            </a>
        </div>
        <div class="col-md-12 p-0 m-0">
            <h6 class="text-center">
                <a href="#">Read our docs</a>
            </h6>
        </div>
        <div class="col-md-12 p-0 m-0">
            <p class="text-center">
                The Api details and application information are
                shown here.
            </p>
        </div>
    </div>

    <div class="col-md-4 p-1 m-0">
        <div class="col-md-12 p-0 m-0">
            <a href="#">
                <img class="support-logo" src="../../../../../assets/img/support/community.png">
            </a>
        </div>
        <div class="col-md-12 p-0 m-0">
            <h6 class="text-center">
                <a href="#">Ask the community</a>
            </h6>
        </div>
        <div class="col-md-12 p-0 m-0">
            <p class="text-center">
                Give our community a try. Ask and you will be answered.
            </p>
        </div>
    </div>

    <div class="col-md-4 p-1 m-0">
        <div class="col-md-12 p-0 m-0">
            <a href="#">
                <img class="support-logo" src="../../../../../assets/img/support/reachout.png">
            </a>
        </div>
        <div class="col-md-12 p-0 m-0">
            <h6 class="text-center">
                Still have question ?
            </h6>
        </div>
        <div class="col-md-12 p-0 m-0">
            <p class="text-center">
                <a href="#">Ask a question to support staff</a>
            </p>
            <p class="text-center">
                You can also give us a call <fa-icon [icon]="phoneIcon"></fa-icon> +91 9850746043
            </p>
            <p class="text-center">
                Write to us <fa-icon [icon]="emailIcon"></fa-icon> swanand01.mehta@gmail.com
            </p>
            <p class="text-center">
                Just click on <a href="mailto:swanand01.mehta@gmail.com">Support</a>
            </p>
        </div>
    </div>
</div>