<div class="col-md-12 p-0 p-0 m-0">
    <div [ngClass]="{'selected-option': currentPage === 'All', 'non-selected-option': currentPage !== 'All' }">
        <div class="col-md-12 p-0 pl-2 py-3 m-0" 
            (click)="openPage('All')">
            <h5 class="col-md-12 p-0 m-0">
                <fa-icon [icon]="allIcon"></fa-icon>&nbsp;&nbsp;All
            </h5>
        </div>
    </div>

    <div [ngClass]="{'selected-option': currentPage === 'Notes', 'non-selected-option': currentPage !== 'Notes' }">
        <div class="col-md-12 p-0 pl-2 py-3 m-0"
            (click)="openPage('Notes')">
            <h5 class="col-md-12 p-0 m-0">
                <fa-icon [icon]="noteIcon"></fa-icon>&nbsp;&nbsp;Notes
            </h5>
        </div>
    </div>

    <div [ngClass]="{'selected-option': currentPage === 'Reminders', 'non-selected-option': currentPage !== 'Reminders' }">
        <div class="col-md-12 p-0 pl-2 py-3 m-0 "
            (click)="openPage('Reminders')">
            <h5 class="col-md-12 p-0 m-0 text-truncate">
                <fa-icon [icon]="reminderIcon"></fa-icon>&nbsp;Reminders
            </h5>
        </div>
    </div>

    <hr/>

    <app-nav-label [currentPage]="currentPage" (pageChangeEvent)="pageChanged($event)"></app-nav-label>
    
    <hr/>

    <div [ngClass]="{'selected-option': currentPage === 'Archive', 'non-selected-option': currentPage !== 'Archive' }">
        <div class="col-md-12 p-0 pl-2 py-3 m-0"
            (click)="openPage('Archive')">
            <h5 class="col-md-12 p-0 m-0">
                <fa-icon [icon]="archiveIcon"></fa-icon>&nbsp;Archive
            </h5>
        </div>
    </div>
    
    <div [ngClass]="{'selected-option': currentPage === 'Trash', 'non-selected-option': currentPage !== 'Trash' }">
        <div class="col-md-12 p-0 pl-2 py-3 m-0"
            (click)="openPage('Trash')">
            <h5 class="col-md-12 p-0 m-0">
                <fa-icon [icon]="trashIcon"></fa-icon>&nbsp;Trash
            </h5>
        </div>
    </div>

    <div [ngClass]="{'selected-option': currentPage === 'Settings', 'non-selected-option': currentPage !== 'Settings' }">
        <div class="col-md-12 p-0 pl-2 py-3 m-0"
            (click)="openPage('Settings')">
            <h5 class="col-md-12 p-0 m-0" >
                <fa-icon [icon]="settingsIcon"></fa-icon>&nbsp;Settings
            </h5>
        </div>
    </div>

</div>