<div class="col-md-12 p-0 pl-2 m-0">

    <div class="col-md-12 p-0 py-3 m-0">
        <h5 class="col-md-12 p-0 m-0">
            <fa-icon [icon]="allIcon"></fa-icon>&nbsp;&nbsp;All
        </h5>
    </div>

    <div class="col-md-12 p-0 py-3 m-0">
        <h5 class="col-md-12 p-0 m-0">
            <fa-icon [icon]="noteIcon"></fa-icon>&nbsp;&nbsp;Notes
        </h5>
    </div>
    

    <div class="col-md-12 p-0 py-3 m-0">
        <h5 class="col-md-12 p-0 m-0">
            <fa-icon [icon]="reminderIcon"></fa-icon>&nbsp;Reminders
        </h5>
    </div>

    <hr/>

    <div class="col-md-12 p-0 pb-4 m-0">
        <div class="row col-md-12 p-0 m-0">
            <p class="col-md-10 p-0 m-0 text-left">
                Labels
            </p>

            <p class="col-md-2 p-0 m-0 text-right">
                <fa-icon [icon]="addNewIcon" (click)="openNewLabel()"></fa-icon>
            </p>
        </div>
    </div>

    <div class="col-md-12 p-0 m-0">
        <h5 class="col-md-12 p-0 m-0">
            <fa-icon [icon]="labelIcon"></fa-icon>&nbsp;Test Label Name
        </h5>
    </div>

    <hr/>

    <div class="col-md-12 p-0 py-3 m-0">
        <h5 class="col-md-12 p-0 m-0">
            <fa-icon [icon]="archiveIcon"></fa-icon>&nbsp;Archive
        </h5>
    </div>
    
    <div class="col-md-12 p-0 py-3 m-0">
        <h5 class="col-md-12 p-0 m-0">
            <fa-icon [icon]="trashIcon"></fa-icon>&nbsp;Trash
        </h5>
    </div>

    <div class="col-md-12 p-0 py-3 m-0">
        <h5 class="col-md-12 p-0 m-0">
            <fa-icon [icon]="settingsIcon"></fa-icon>&nbsp;Settings
        </h5>
    </div>

</div>