<div class="col-md-12 p-0 m-0">
    <div class="col-md-12 m-0 p-0">
        <div class="m-3 p-0">
            <div class="float-left">
                <h6>Heading</h6>
            </div>
            <div class="float-right">
                <h6 >
                    <app-document-dropdown-options></app-document-dropdown-options>
                </h6>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="m-3 p-0 overflow-auto height-150-px">
            <p>
                <strong>What :</strong>
                <br>
                Name of the task
            </p>
            <p>
                <strong>When :</strong>
                <br>
                YYYY/MM/DD HH:MM:SS AA
            </p>
            <p>
                <strong>Repeat :</strong>
                <br>
                Repeat conditon
            </p>
        </div>
    </div>
</div>