<div class="col-md-12 p-0 m-0">
    <div class="col-md-12 m-0 p-0">
        <div class="m-3 p-0">
            <div class="float-left">
                <h6>{{value.heading}}</h6>
            </div>
            <div class="float-right">
                <h6>
                    <app-document-dropdown-options [note]="value"></app-document-dropdown-options>
                </h6>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="m-3 p-0 overflow-auto height-150-px">
            <p>
                <strong>When :</strong>
                <br>
                {{value.date.year}}/{{value.date.month}}/{{value.date.day}} {{value.time.hour}}:{{value.time.minute}}:{{value.time.second}}
            </p>
            <p>
                <strong>Repeat :</strong>
                <br>
                {{value.repeat}}
            </p>
        </div>
    </div>
</div>