<div class="col-md-12 p-0 m-0">
    <div class="col-md-12 p-0 pb-4 pl-2 m-0">
        <div class="row col-md-12 p-0 m-0">
            <h6 class="col-md-10 p-0 m-0 text-left">
                Labels
            </h6>

            <p class="col-md-2 p-0 m-0 text-right">
                <fa-icon [icon]="addNewIcon" (click)="openNewLabel()"></fa-icon>
            </p>
        </div>
    </div>

    <div class="labels-component-height">
        <div *ngFor="let label of navLabelList">
            <div [ngClass]="{'selected-option': currentPage === label.name, 'non-selected-option': currentPage !== label.name }">
                <div class="col-md-12 p-0 py-3 pl-2 m-0"
                    (click)="openPage(label)">
                    <h5 class="col-md-12 p-0 m-0 text-truncate">
                        <fa-icon [icon]="labelIcon"></fa-icon>&nbsp;{{label.name}}
                    </h5>
                </div>
            </div>
        </div>

    </div>
</div>