<div class="row col-md-12 p-0 py-3 m-0 background">
    <div class="col-md-1 p-0 m-0">
        <h6 class="col-md-12 p-0 pt-2 m-0 text-center">
            <fa-icon [icon]="menuHideShowIcon" (click)="hideNavMenu()" size="1x"></fa-icon>
        </h6>
    </div>

    <div class="col-md-9 p-0 m-0">
        <div class="col-md-12 p-0 m-0">
            <form>
                <div class="row col-md-12 p-0 m-0">                    
                    <div class="col-md-12 p-0 px-2 m-0">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <fa-icon [icon]="searchIcon"></fa-icon>
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Search!"/>
                        </div>
                    </div>                    
                </div>
            </form>
        </div>
    </div>
    
    <div class="col-md-2 p-0 m-0">
        <div class="row col-md-12 p-0 pt-2 m-0">
            <div class="col-md p-0 m-0">
                <h6 class="text-center">
                    <fa-icon size="1x" [icon]="refreshIcon"></fa-icon>
                </h6>
            </div>
            <div class="col-md p-0 m-0">
                <h6 class="text-center" (click)="toggleListingView(true)">
                    <fa-icon size="1x" [icon]="gridIcon"></fa-icon>
                </h6>
            </div>
            <div class="col-md p-0 m-0">
                <h6 class="text-center" (click)="toggleListingView(false)">
                    <fa-icon size="1x" [icon]="stackIcon"></fa-icon>
                </h6>
            </div>
            <div class="col-md p-0 m-0">
                <h6 class="text-center">
                    <fa-icon size="1x" [icon]="bellIcon"></fa-icon>
                </h6>
            </div>
            <div class="col-md p-0 m-0">
                <h6 class="text-center">
                    <fa-icon size="1x" [icon]="logoutIcon"></fa-icon>
                </h6>
            </div>
        </div>
    </div>
</div>